# - [ bacKardi ] ------------------------------------------------------
#
# Ejemplo de archivo de configuracion de bacKardi publicado para 
# las distribuciones GNU/Linux.
#
# Este es el principal archivo de configuracion de bacKardi.
#
# En bki.cnf vas a encontrar un gran numero de opciones configurables
# y en donde la mayoria se muestra de ejemplo.
#
# Cualquier linea que comience con "#" es considerado como comentario
# y no sera tenido en cuenta. Es por ello que los ejemplos que se 
# muestran van a comenzar con #.
#
# ---------------------------------------------------------------------

[Global]

# Sistema corresponde al nombre de la Aplicacion.
	sistema = "bacKardi"

# Version del sistema.
	version = "0.6"

[Configuracion]

# compresion indica el algoritmo utilizado para realizar los paquetes
# de backup que se generen.
#
# Para comprimir archivo con extension .tar
#	compresion = "tar"
#
# Para comprimir archivos con extension .tar.gz
#	compresion = "gzip"
#
# Para comprimir archivos con extension .tar.bz2
#	compresion = "bzip2"
#
# Para comprimir archivos con extension .rar
#	compresion = "rar"
#
# Para comprimir archivos con extension .arj
#	compresion = "arj"
	compresion = "gzip"

# backup_dir es el listado de todos los directorios del que
# se van a realizar un resguardo.
#   backup_dir = /etc /home /usr
	backup_dir = "/etc /home"

# backup_dest_dir es el directorio donde se va a almacenar el 
# resguardo que vamos a realizar.
#   backup_dest_dir = /tmp
	backup_dest_dir = "/var/backups"
